header.banner {
  background-color: #fff;
}

.hero {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-content: center;
}

.hero__rigth-side {
  line-height: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  row-gap: 15px;
}

.hero__rigth-side p {
  margin: 0;
}

.hero__rigth-left p {
  font-size: 20px !important;
  padding-right: 90px;
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.botes {
  font-size: 12px;
}

.star {
  fill: #eaac0f;
}

.capterra-icon {
  width: 70px;
  height: 25px;
}

#emil.comment-form input[type="text"]::placeholder {
  font-size: 10px !important;
  color: #6c757d;
  opacity: 1;
}
