.navbar-brand {
  color: #1969d8;
}

.background-azul {
  background-color: #1969d8;
}

.nav-link.active-link a {
  color: #1969d8 !important;
}

.nav-link.active-link {
  color: #1969d8 !important;
  height: 100%;
  font-weight: 700;
  border-bottom: 2px solid #135abc;
}

.active-link:hover {
  color: #093d85;
}

// .menu-item-16 {
//   background-color: aqua;
// }
